/* ~~~~~~~~~~~~~~~~~~~~ SETUP ~~~~~~~~~~~~~~~~~~~~ */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::after, blockquote::before, q::after, q::before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ~~~~~~~~~~~~~~~~~~~~ SHARED ~~~~~~~~~~~~~~~~~~~~ */
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: calc(1.5em + 3vw);
}

h2 {
  font-size: calc(1.5em + 1vw);
  letter-spacing: 2px;
}

h2 span {
  color: #e71d36;
}

h3 {
  font-size: 1.5em;
  letter-spacing: 1px;
  text-decoration: underline;
  -webkit-text-decoration-color: #e71d36;
          text-decoration-color: #e71d36;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

h4 {
  font-size: 2rem;
  letter-spacing: 2px;
  background-color: #e71d36;
  color: white;
}

p {
  line-height: 1.5;
  letter-spacing: 1px;
}

a {
  color: #708090;
  letter-spacing: 2px;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  background-color: #e71d36;
  height: 2px;
  position: absolute;
  right: 50%;
  bottom: -3px;
  left: 50%;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

a:hover, a:active, a:focus {
  color: black;
}

a:hover::after, a:active::after, a:focus::after {
  right: 1px;
  left: -1px;
}

img {
  max-width: 100%;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  background-color: #011627;
  color: #ff9f1c;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.button:hover, .button:active, .button:focus {
  border-color: #ff9f1c;
  -webkit-box-shadow: 0 0 20px -10px black;
          box-shadow: 0 0 20px -10px black;
}

/* ~~~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~~~~ */
nav {
  font-size: 0.8em;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0 0 20px -10px black;
          box-shadow: 0 0 20px -10px black;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

nav.compressed {
  height: 50px;
}

nav.compressed .nav-top-panel {
  height: 50px;
}

nav.expanded {
  height: 100vh;
}

.nav-top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0 2vw;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.nav-top-panel h4 {
  padding: 5px 6px 5px 9px;
  border-radius: 5px;
}

.nav-top-panel button {
  background-color: #fbfbfb;
  border: none;
  width: 60px;
}

.nav-top-panel button span {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 5px;
  background: black;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  position: relative;
}

.nav-top-panel button span + span {
  margin-top: 8px;
}

.nav-top-panel button.active span:nth-child(1) {
  -webkit-animation: ease .7s top forwards;
          animation: ease .7s top forwards;
}

.nav-top-panel button.not-active span:nth-child(1) {
  -webkit-animation: ease .7s top-2 forwards;
          animation: ease .7s top-2 forwards;
}

.nav-top-panel button.active span:nth-child(2) {
  -webkit-animation: ease .7s scaled forwards;
          animation: ease .7s scaled forwards;
}

.nav-top-panel button.not-active span:nth-child(2) {
  -webkit-animation: ease .7s scaled-2 forwards;
          animation: ease .7s scaled-2 forwards;
}

.nav-top-panel button.active span:nth-child(3) {
  -webkit-animation: ease .7s bottom forwards;
          animation: ease .7s bottom forwards;
}

.nav-top-panel button.not-active span:nth-child(3) {
  -webkit-animation: ease .7s bottom-2 forwards;
          animation: ease .7s bottom-2 forwards;
}

@-webkit-keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 13px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 13px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 13px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 13px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-2 {
  0% {
    top: 13px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 13px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes top-2 {
  0% {
    top: 13px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 13px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 13px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 13px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 13px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 13px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-2 {
  0% {
    bottom: 13px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 13px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 13px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 13px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav-top-panel ul {
  display: none;
}

.nav-top-panel ul li {
  display: inline-block;
}

.nav-top-panel ul span {
  color: #708090;
  padding: 0 1vw;
}

.nav-top-panel ul.mobile {
  font-size: 2em;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.nav-top-panel ul.mobile li {
  display: block;
}

.nav-top-panel ul.mobile li + li {
  margin-top: 30px;
}

.nav-top-panel ul.mobile span {
  display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~ */
header {
  background: -webkit-gradient(linear, left bottom, right top, from(#011627), color-stop(60%), to(#5d9cb5));
  background: linear-gradient(to top right, #011627, 60%, #5d9cb5);
  color: white;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  margin-bottom: 1vw;
}

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.left-bracket, .right-bracket {
  font-size: 20vw;
}

.intro {
  padding: 2vw 4vw;
  margin-top: 2vw;
}

.intro span {
  color: #ff9f1c;
}

/* ~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~ */
.about, .skills, .projects, .contact {
  padding: 48px 2vw;
}

/* ~~~~~~~~~~~~~~~~~~~~ ABOUT ~~~~~~~~~~~~~~~~~~~~ */
.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 4vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 4vw 0;
}

.about-image {
  text-align: center;
}

.about-image-container {
  max-width: 50%;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.about-image-container img {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
}

.about-image-container img.blur {
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.about-text p {
  margin-bottom: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~ SKILLS ~~~~~~~~~~~~~~~~~~~~ */
.skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  margin: 48px 4vw 0;
}

.skills-container li {
  height: calc(95px + 3vw);
  position: relative;
  text-align: center;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.skills-container li:hover, .skills-container li:focus {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skills-container i {
  font-size: calc(65px + 3vw);
}

.skills-container img {
  height: calc(65px + 3vw);
  width: auto;
}

.skills-container p {
  position: absolute;
  right: -10px;
  left: -10px;
  text-align: center;
  overflow: hidden;
}

/* ~~~~~~~~~~~~~~~~~~~~ PROJECTS ~~~~~~~~~~~~~~~~~~~~ */
.projects-container {
  margin: 48px 4vw 0;
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 4vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}

.project-text-left, .project-text-right {
  margin-top: 24px;
}

.project-text-left p, .project-text-right p {
  margin-bottom: 24px;
}

.project-text-left p:first-of-type, .project-text-right p:first-of-type {
  margin-top: 36px;
}

.links a {
  display: inline-block;
  width: 150px;
  padding: 10px 5px;
  text-align: center;
  vertical-align: middle;
}

.links a:hover, .links a:active, .links a:focus {
  color: #ff9f1c;
}

.links a::after {
  display: none;
}

.links a + a {
  margin-left: 12px;
}

/* ~~~~~~~~~~~~~~~~~~~~ CONTACT ~~~~~~~~~~~~~~~~~~~~ */
.contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 4vw;
  margin: 48px 4vw 0;
}

.contact-text p {
  margin-bottom: 25px;
}

.contact-text a[href^=mailto] i {
  color: white;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.contact-text a[href^=mailto]:hover i, .contact-text a[href^=mailto]:active i, .contact-text a[href^=mailto]:focus i {
  color: #e71d36;
}

.contact-text li {
  font-size: 3em;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.contact-text li a {
  color: black;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.contact-text li a:hover, .contact-text li a:active, .contact-text li a:focus {
  color: #e71d36;
}

.contact-text li a:hover::after, .contact-text li a:active::after, .contact-text li a:focus::after {
  display: none;
}

.contact-text li p {
  font-size: 0.65rem;
  position: absolute;
  right: -10px;
  left: -10px;
  text-align: center;
  overflow: hidden;
}

.contact-text li + li {
  margin-left: 24px;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 48px;
}

.contact-form label {
  display: block;
  height: 0;
  overflow: hidden;
}

.contact-form input {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  border: 1px solid #cccccc;
  margin-bottom: 24px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.contact-form input:focus {
  border-color: black;
  -webkit-box-shadow: 0 0 20px -10px black;
          box-shadow: 0 0 20px -10px black;
}

.contact-form textarea {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 200px;
  padding: 5px;
  border: none;
  border: 1px solid #cccccc;
  margin-bottom: 24px;
  resize: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.contact-form textarea:focus {
  border-color: black;
  -webkit-box-shadow: 0 0 20px -10px black;
          box-shadow: 0 0 20px -10px black;
}

.contact-form button {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.contact-form ::-webkit-input-placeholder {
  color: #708090;
}

.contact-form :-ms-input-placeholder {
  color: #708090;
}

.contact-form ::-ms-input-placeholder {
  color: #708090;
}

.contact-form ::placeholder {
  color: #708090;
}

/* ~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~ */
footer {
  font-size: 0.8em;
  font-weight: 300;
  background-color: #011627;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer i {
  color: red;
}

footer span {
  color: #ff9f1c;
}

/* ~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 460px) {
  nav, footer {
    font-size: inherit;
  }
  .nav-top-panel button {
    display: none;
  }
  .nav-top-panel ul {
    display: block;
  }
  .skills-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (min-width: 680px) {
  .about-container {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .about-image-container {
    max-width: 100%;
    margin: 0;
  }
  .project {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .project-text-left, .project-text-right {
    margin-top: 0;
  }
  .project-text-left {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: right;
  }
  .contact-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contact-form form {
    margin-top: 0;
  }
}

@media all and (min-width: 770px) {
  .skills-container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media all and (min-width: 960px) {
  .skills-container li:hover p, .skills-container li:focus p {
    height: auto;
  }
  .skills-container p {
    height: 0;
  }
  .contact-text li p {
    height: 0;
  }
  .contact-text li:hover p, .contact-text li:active p, .contact-text li:focus p {
    height: auto;
  }
  .contact-form form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contact-form input {
    width: calc(100% - 12px);
  }
  .contact-form button {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
  .name {
    -ms-grid-row: 2;
        grid-row-start: 2;
    margin-right: 1vw;
  }
  .email {
    margin-left: 1vw;
  }
  .message-label {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
  .message {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
}

@media all and (min-width: 1200px) {
  h1 {
    font-size: calc(1.5em + 36px);
  }
  h2 {
    font-size: calc(1.5em + 12px);
  }
  nav div {
    padding: 0 12px;
  }
  nav span {
    padding: 0 12px;
  }
  header h1 {
    margin-bottom: 12px;
  }
  .left-bracket, .right-bracket {
    font-size: 240px;
  }
  .intro {
    padding: 24px 48px;
    margin-top: 24px;
  }
  .about, .skills, .projects, .contact {
    padding: 48px 24px;
  }
  .about-container {
    gap: 48px;
    margin: 48px 48px 0;
  }
  .skills-container {
    gap: 24px;
    margin: 48px 48px 0;
  }
  .skills-container li {
    height: calc(95px + 36px);
  }
  .skills-container i {
    font-size: calc(65px + 36px);
  }
  .skills-container img {
    height: calc(65px + 36px);
  }
  .projects-container {
    margin: 48px 48px 0;
  }
  .project {
    gap: 48px;
  }
  .contact-container {
    gap: 48px;
    margin: 48px 48px 0;
  }
  .name {
    margin-right: 12px;
  }
  .email {
    margin-left: 12px;
  }
}
